Source/CommonsTests/XMLs/XmlSchema/PolygonSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="polygon">
    <xs:complexType>
      <xs:attribute name="points" type="xs:string" use="required" />
      <xs:attribute name="stroke" type="xs:string" use="required" />
      <xs:attribute name="stroke-width" type="xs:double" use="required" />
      <xs:attribute name="fill" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
