CommonsTests/XMLs/XmlSchema/VehicleSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="svg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rect">
          <xs:complexType>
            <xs:attribute name="width" type="xs:unsignedShort" use="required" />
            <xs:attribute name="height" type="xs:unsignedShort" use="required" />
            <xs:attribute name="fill" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="g">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="polygon" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:attribute name="points" type="xs:string" use="required" />
                  <xs:attribute name="stroke" type="xs:string" use="required" />
                  <xs:attribute name="stroke-width" type="xs:decimal" use="required" />
                  <xs:attribute name="fill" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="transform" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="circle">
          <xs:complexType>
            <xs:attribute name="cx" type="xs:unsignedByte" use="required" />
            <xs:attribute name="cy" type="xs:unsignedByte" use="required" />
            <xs:attribute name="r" type="xs:unsignedByte" use="required" />
            <xs:attribute name="stroke" type="xs:string" use="required" />
            <xs:attribute name="stroke-width" type="xs:unsignedByte" use="required" />
            <xs:attribute name="fill" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="3" minOccurs="3" name="line">
          <xs:complexType>
            <xs:attribute name="x1" type="xs:unsignedShort" use="required" />
            <xs:attribute name="y1" type="xs:unsignedByte" use="required" />
            <xs:attribute name="x2" type="xs:unsignedShort" use="required" />
            <xs:attribute name="y2" type="xs:unsignedByte" use="required" />
            <xs:attribute name="stroke" type="xs:string" use="required" />
            <xs:attribute name="stroke-width" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="width" type="xs:unsignedShort" use="required" />
      <xs:attribute name="height" type="xs:unsignedShort" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>